/* ============ FONT ============*/

@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* ============ NAV ============*/

.encabezado { 
    border-bottom: 4px solid black;    
}

.cofLogo {
    width: 7rem;
    border-radius: 0.5rem;
}

.fuentesNav {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2rem;
}

/* ============ FOOTER ============*/

.borderFooter {
    border-top: 4px solid black;
} 

.footerText {
    font-weight: bold;
}

/* ============ INDEX ============*/

.mainIndex {
    background:  #86AFA7;
}


.imgIndex1 {
    width: 50vw;
    border-radius: 1rem;
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.tituloIndex {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
}

.parrafoIndex { 
    color: rgb(104, 81, 37);
    font-weight: bold;
}

/* ============ INDEX - VERSION MOBILE ============*/

@media (min-width:0px) and (max-width:480px) {
    .imgIndex1 {
        width: 60vw;
        border-radius: 10%;
        margin-left: 60px;
        margin-top: 1em;       
    }   

    .textoContainer {
        padding-top: 0px;
    }

    .tituloIndex {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;   
    }

    .imgIndex1 {
        width: 70vw;
        border-radius: 10%;
    }
}

/* ============ NOSOTROS ============*/

.sectionNos1 {
    background-color: #CCDCD9;
}

.subtituloContenedor {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.subtitulosTres {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
}

.parrafoNosotros {
    font-family: 'Roboto', sans-serif;  
  } 

.imgNuestro {
    width: 610px; 
    height: 610px;
    border-radius: 4px;
    margin-left: 7px; 
}

.sectionNos2 {
    background-image:url("../img/img.nosprueba3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* ============ VERSION MOBILE ============*/

@media (min-width:0px) and (max-width:480px) {
    
    .subtituloContenedor {
        text-align: center;
        padding-bottom: 20px;
    }

    .imgNuestro {
            object-fit: contain;
            margin-left: 60px;
            height: 250px;
            width: 250px;
        }
    }

/* ============ VERSION TABLET ============*/

@media (min-width:481px) and (max-width:1000px) {
.imgNuestro {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}
}


/* ============ CHARLAS ============*/

.mainCharlas {
    background-color: #86AFA7;
}

.subtituloCharlas {
    text-align: center;
    font-size: 25px;
    padding: 1rem;
}

.multimediaCharlas {
    width: 620px;
    border-radius: 10px;
}

.videoCharlas {
    width: 581px;
    border-radius: 10px;
}

.textoVideo {
    text-align: center;
    font-size: 25px;
    animation-name: animationtex;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes animationtex {
    0% {color: black;
    } 
    100% {color: red;
    }
}

/* ============ VERSION MOBILE ============*/

@media (min-width:0px) and (max-width:480px) {
    .multimediaCharlas {
        width: 300px; 
        height: 300px; 
    }

    .videoCharlas {
        width: 300px; 
        height: 300px;
        }
}

/* ============ VERSION TABLET ============*/

@media (min-width:481px) and (max-width:1000px) {
    .multimediaCharlas {
        width: 400px; 
        height: 250px;
        padding-left: 2px; 
    }

    .videoCharlas {
        width: 400px; 
        height: 200px;
        padding-right: 40px;
        padding-top: -10px; 
    }
}

/* ============ GALERIA ============*/

.backgroundCarousel {
    background: radial-gradient(circle, rgba(200,201,205,1) 0%, rgba(71,131,66,1) 100%);    
}

.imgCarousel {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

/* ============ CONTACTO ============*/

.imgContact {
    width: 500px;
    border-radius: 40px;
    margin-left: 220px;
}

.backgroundContact {
    background: radial-gradient(circle, rgba(200,201,205,1) 0%, rgba(71,131,66,1) 100%);
}

.botonSubmit {
    width: 100px;
}

.textArea {
    width: 400px;
    border-radius: 10px;
}

/* ============ VERSION MOBILE ============ */
 
@media (min-width:0px) and (max-width:480px) {
    .backgroundContact { 
        background-image: url("../img/contactoresp.jpg");
    }


    .imgContact {
        display: none;
    }

    .textArea {
        width: 300px;
        border-radius: 10px;
    }

    .textInput {
        width: 300px;
    }
}



/* ============ VERSION TABLET ============*/

@media (min-width:481px) and (max-width:1000px) { 
    .imgContact {
        width: 200px;
        border-radius: 30px;
        margin-left: 20px;
        margin-top: 20px;
    }
}